<div class="container home">
  <header class="page__header">
    <h1 class="page__title">Transactions</h1>

    <button mat-stroked-button class="button"
            (click)="createTransaction()">
      <mat-icon>edit</mat-icon>
      <span>Add transaction</span>
    </button>
  </header>

  <div class="transactions">
    <header class="transactions__header">
      <button mat-icon-button class="button button__icon"
              (click)="changeDate(false)">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="picker">
        <mat-form-field class="picker__field">
          <input matInput class="picker__input" [formControl]="activeDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-datepicker #picker disabled="false" />
        </mat-form-field>
      </div>

      <button mat-icon-button class="button button__icon"
              (click)="changeDate(true)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </header>

    <div class="transactions__list list">
      @for (transaction of transactions$ | async; track transaction.id) {


        <div class="list__item">
          <mat-icon class="material-symbols-outlined list__icon">
            {{transaction.categoryIcon || "shopping_bag" }}
          </mat-icon>

          <h4 class="list__title">{{transaction.categoryName}}</h4>

          <div class="details">
            <p class="amount"
               [class.amount__income]="transaction.type === 1"
               [class.amount__transfer]="transaction.type === 2">
              {{transaction.amount}} UAH
            </p>
            <p class="account">
              {{transaction.accountName}}
              @if (transaction.type === 2) {
                => {{transaction.accountNameTo}}
              }
            </p>
          </div>

          <button mat-icon-button class="list__button"
                  (click)="editTransaction(transaction)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button class="list__button list__button--delete"
                  (click)="deleteTransaction(transaction.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
  </div>

</div>
