app-home {
  .transactions__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;

    .button {
      color: var(--primary-color);
    }
  }

  .picker__field {
    background-color: var(--background-color);
    border-radius: 40px;
    overflow: hidden;
    padding: 0 16px;
    border: 1px solid var(--primary-color);

    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
    }

    .mat-mdc-text-field-wrapper {
      padding: 0;
      background-color: transparent;
    }
  }

  .picker__input {
    text-align: center;
    color: var(--primary-color) !important;
  }

  .mat-datepicker-toggle button {
    color: var(--primary-color) !important;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
      margin: 0;
    }

    .amount {
      color: var(--warn-color);
    }

    .amount__income {
      color: var(--accent-color);
    }

    .amount__transfer {
      color: var(--secondary-color);
    }

    .account {
      color: var(--orange-color);
    }
  }
}
