.dashboard {
  padding-bottom: 2rem;
}

.dashboard__row {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

.dashboard__assets {
  color: var(--accent-color);
}

.dashboard__liabilities {
  color: var(--warn-color);
}

.dashboard__balance {
  color: var(--primary-color);
}

.accounts__button {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.accounts__list {
  padding: 2rem 0;

  p {
    text-align: center;
  }
}

.account {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--secondary-color);
}

.account__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 1rem;
}

.account__icon {
  display: flex;
  color: var(--orange-color);
  margin: 0;
}

.account__amount {
  color: var(--accent-color);
}

.account__amount--warn {
  color: var(--warn-color);
}

.account__button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-left: 1rem;
}

.account__button--delete {
  color: var(--warn-color);
  border: 1px solid var(--warn-color);
}
