.categories__container {
  display: flex;
  gap: 1rem;

  .column {
    flex: 1 1 0;
  }
}

.children__categories {
  .list__item {
    color: var(--accent-color);
  }

  .list__icon {
    color: var(--accent-color);
  }

  .list__button {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }

  .list__button--delete {
    color: var(--warn-color);
    border: 1px solid var(--warn-color);
  }
}
