:root {
  --primary-color: #023047;
  --secondary-color: #8ecae6;
  --accent-color: #219ebc;
  --yellow-color: #ffb703;
  --orange-color: #fb8500;
  --warn-color: #f44336;
  --white-color: #ffffff;
  --background-color: #f5f5f5; /* Light Gray */
  --text-color: #212121; /* Dark Gray */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

.page {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .page__title {
    font-size: 2rem;
  }
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.form__field {
  width: 100%;
}


.list {
  padding: 1rem 0;
}

.list__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--secondary-color);
}

.list__item--active {
  border-color: var(--primary-color);
  background-color: var(--white-color);
}

.list__icon {
  color: var(--primary-color);
}

.list__title {
  flex: 1 1 0;
  padding: 0 1rem;
}

h4.list__title {
  font-size: 1.2rem;
}

.list {

  .list__button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 1rem;
  }

  .list__button--delete {
    color: var(--warn-color);
    border: 1px solid var(--warn-color);
  }
}
