<div class="toolbar">
  <div class="toolbar__logo menu__item">
    <a href="/home" >
      <mat-icon class="icon material-symbols-outlined">money_bag</mat-icon>
      <span class="logo">Budget tracker</span>
    </a>
  </div>

  <div class="menu">
    @for (item of menu; track item.label) {
      <div class="menu__item">
        <a [routerLink]="item.link">{{ item.label }}</a>
      </div>
    }
  </div>

  <div class="user__menu">
    @if (user$ | async; as user) {
      <button class="button icon" mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User profile menu">
        @if (user.userName) {
          {{user.userName.charAt(0) | uppercase}}
        } @else {
          <mat-icon>menu</mat-icon>
        }
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/userProfile">
          <span>Edit User</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      </mat-menu>
    }

  </div>
</div>
