<div class="container home">
  <header class="page__header">    
    <h1 class="page__title">Account</h1>
  </header>

  @if (account(); as acc) {
    <div class="account__card">
      <h2 class="page__title">{{acc.provider}} {{acc.name ?? acc.type}}</h2>
      <p class="account__masked-pan">{{acc.maskedPan?.[0]}}</p>
      <p class="account__amount">{{(acc.balance - acc.creditLimit) / 100}} {{acc.currencyCode | currencyCode}}</p>  
      <p class="account__limit">{{acc.creditLimit / 100}} {{acc.currencyCode | currencyCode}}</p>

      <button mat-icon-button class="button button__icon"
              (click)="editAccount(acc)">
        <mat-icon>edit</mat-icon>
      </button>

    </div>
  }

  <div class="transactions">
    <header class="transactions__header">
      
      <h2 class="page__subtitle">Transactions</h2>

      <button mat-icon-button class="button button__icon"
              (click)="syncTransactions()">
        <mat-icon>sync</mat-icon>
      </button>
    
      <div class="diapason">
        <button mat-icon-button class="button button__icon"
                (click)="changeDate(false)">
          <mat-icon>chevron_left</mat-icon>
        </button>
  
        <div class="diapason__date">
          {{activeDate() | period: 2}}
        </div>
  
        <button mat-icon-button class="button button__icon"
                (click)="changeDate(true)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </header>

    <div class="transactions__list list">

      @for (transaction of transactions(); track transaction.time) {
        <app-transaction [transaction]="transaction" />
      }
      
    </div>
  </div>

</div>
